docs/examples/flows/AssemblyAnalytics.json
[{"id":"d971a381.28086","type":"subflow","name":"Assembly Analytics Trigger ","info":"","category":"","in":[{"x":200,"y":240,"wires":[{"id":"3b06020e.927bfe"}]}],"out":[],"env":[{"name":"OperationMode","type":"str","value":"2","ui":{"icon":"font-awesome/fa-sliders","type":"select","opts":{"opts":[{"l":{"en-US":"Parse incoming Message"},"v":"1"},{"l":{"en-US":"Use values from env"},"v":"2"}]}}},{"name":"currentStation","type":"str","value":"1a","ui":{"icon":"font-awesome/fa-arrow-circle-o-down","type":"input","opts":{"types":["str"]}}},{"name":"lastStation","type":"str","value":"1b","ui":{"icon":"font-awesome/fa-arrow-circle-o-left","type":"input","opts":{"types":["str"]}}},{"name":"sanityTime_in_s","type":"num","value":"100","ui":{"icon":"font-awesome/fa-hourglass-3","type":"input","opts":{"types":["num"]}}},{"name":"customerID","type":"str","value":"customerID","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"AssetID","type":"str","value":"AssetID","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"location","type":"str","value":"location","ui":{"type":"input","opts":{"types":["str"]}}}],"color":"#3FADB5","icon":"node-red/arrow-in.svg"},{"id":"d00375c6.19a848","type":"mqtt out","z":"d971a381.28086","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"2","retain":"","broker":"f560236c.e5cc4","x":1070,"y":240,"wires":[]},{"id":"3b06020e.927bfe","type":"function","z":"d971a381.28086","name":"Format: CycleTimeTrigger","func":"msg.topic = \"ia/\"+env.get(\"customerID\")+\"/\"+env.get(\"location\")+\"/\"+env.get(\"AssetID\")+\"/cycleTimeTrigger\"\n\nif (env.get(\"OperationMode\")==1) {\n    msg.payload = {\n        \"measurement\": env.get(\"customerID\")+\"-\"+env.get(\"location\")+\"-\"+env.get(\"AssetID\") ,\n        \"timestamp_ms\": Date.now(),\n        \"currentStation\": msg.payload.currentStation,\n        \"lastStation\": msg.payload.lastStation,\n        \"sanityTime_in_s\": msg.payload.sanityTime_in_s\n    }\n    return msg;\n} else if (env.get(\"OperationMode\")==2) {\n  msg.payload = {\n        \"measurement\": env.get(\"customerID\")+\"-\"+env.get(\"location\")+\"-\"+env.get(\"AssetID\") ,\n        \"timestamp_ms\": Date.now(),\n        \"currentStation\": env.get(\"currentStation\"),\n        \"lastStation\": env.get(\"lastStation\"),\n        \"sanityTime_in_s\": env.get(\"sanityTime_in_s\")\n    };\n   return msg;\n} else {\n msg.error = \"OperationMode /= 0 or 1\";\n return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":240,"wires":[["d00375c6.19a848"]]},{"id":"bd7eb62f.7f3bc8","type":"subflow","name":"Assembly Analytics Middleware","info":"","category":"","in":[],"out":[],"env":[{"name":"customerID","type":"str","value":"ia","ui":{"icon":"font-awesome/fa-address-book-o","type":"input","opts":{"types":["str"]}}},{"name":"AssetID","type":"str","value":"test","ui":{"icon":"font-awesome/fa-id-card-o","label":{"en-US":"AssetID"},"type":"input","opts":{"types":["str"]}}},{"name":"location","type":"str","value":"test","ui":{"icon":"font-awesome/fa-location-arrow","label":{"en-US":"location"},"type":"input","opts":{"types":["str"]}}}],"color":"#3FADB5","icon":"node-red/swap.svg"},{"id":"98ec8230.d15bd","type":"function","z":"bd7eb62f.7f3bc8","name":"Update list of active cycles","func":"var tempActivecycles; \ntempActivecycles = flow.get(\"activecycles\");\n\nif (msg.payload.currentStation in tempActivecycles) {\n    return null;\n} else {\n    tempActivecycles[msg.payload.currentStation] = msg.payload;\n    msg.payload.begin_timestamp_ms = msg.payload.timestamp_ms\n    delete msg.payload[\"timestamp_ms\"];\n    delete msg.payload[\"measurement\"];\n    flow.set(\"activecycles\", tempActivecycles);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"flow.set(\"activecycles\", {})","finalize":"","x":920,"y":80,"wires":[["46e585c.869747c"]]},{"id":"46e585c.869747c","type":"function","z":"bd7eb62f.7f3bc8","name":"Calculate CycleTime","func":"var tempActivecycles; \ntempActivecycles = flow.get(\"activecycles\");\nvar lastStation;\nvar begin_timestamp_ms;\nvar end_timestamp_ms;\nvar productID;\n\nlastStation = msg.payload[\"lastStation\"]\nif (lastStation in tempActivecycles) {\n    begin_timestamp_ms = tempActivecycles[lastStation].begin_timestamp_ms;\n    productID = tempActivecycles[lastStation].productID;\n    end_timestamp_ms = msg.payload.begin_timestamp_ms\n    msg.payload = {\n        \"begin_timestamp_ms\": begin_timestamp_ms, \n        \"end_timestamp_ms\": end_timestamp_ms,\n        \"productID\": \"test123\",//flow.get(\"product_id\"),\n        \"UID\": String(begin_timestamp_ms)+String(parseInt(Math.random()*10000000))+String(end_timestamp_ms),\n        \"isScrap\": false,\n       // \"qualityClass\": \"MissingLabel\"\n        \"stationID\": lastStation \n        \n    }\n    delete tempActivecycles[lastStation];\n    flow.set(\"activecycles\",tempActivecycles);\n} else {\nreturn null;\n}\nmsg.topic = \"ia/\"+env.get(\"customerID\")+\"/\"+env.get(\"location\")+\"/\"+env.get(\"AssetID\")+\"/uniqueProduct\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":80,"wires":[["59c94b5a.342ee4"]]},{"id":"171c0ab5.de1f85","type":"function","z":"bd7eb62f.7f3bc8","name":"Check for Scrap","func":"var tempActivecycles; \ntempActivecycles = flow.get(\"activecycles\");\nvar begin_timestamp_ms;\n\nfor (var i in tempActivecycles) {\n    msg.payload = {\n        \"begin_timestamp_ms\": tempActivecycles[i].begin_timestamp_ms,  \n        \"end_timestamp_ms\": Date.now(),\n        \"productID\": \"test123\",\n        \"UID\": String(tempActivecycles[i].begin_timestamp_ms)+String(parseInt(Math.random()*10000000))+String(Date.now()),\n        \"isScrap\": true,\n        \"stationID\": i \n    }\n    delete tempActivecycles[i];\n    flow.set(\"activecycles\",tempActivecycles);\n    msg.topic = \"ia/\"+env.get(\"customerID\")+\"/\"+env.get(\"location\")+\"/\"+env.get(\"AssetID\")+\"/uniqueProduct\"\n    return msg;\n}\n\n\nreturn null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":140,"wires":[["59c94b5a.342ee4"]]},{"id":"59c94b5a.342ee4","type":"mqtt out","z":"bd7eb62f.7f3bc8","name":"","topic":"","qos":"","retain":"","broker":"f560236c.e5cc4","x":1370,"y":140,"wires":[]},{"id":"c6a6c434.7a62e8","type":"switch","z":"bd7eb62f.7f3bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":80,"wires":[["98ec8230.d15bd"]]},{"id":"f78efcc6.568b1","type":"mqtt in","z":"bd7eb62f.7f3bc8","name":"MQTT-IN: cycleTimeTrigger","topic":"ia/+/+/+/cycleTimeTrigger","qos":"2","datatype":"auto","broker":"f560236c.e5cc4","x":200,"y":80,"wires":[["f500588e.433b18"]]},{"id":"4592e0ea.2fee8","type":"function","z":"bd7eb62f.7f3bc8","name":"Check for exakt Topic","func":"var topic = \"ia/\"+env.get(\"customerID\")+\"/\"+env.get(\"location\")+\"/\"+env.get(\"AssetID\")+\"/cycleTimeTrigger\"\nif (topic == msg.topic) {\n  msg.payload = msg.payload\n} else {\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["c6a6c434.7a62e8"]]},{"id":"f500588e.433b18","type":"json","z":"bd7eb62f.7f3bc8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":80,"wires":[["4592e0ea.2fee8"]]},{"id":"514d6b28.38ffc4","type":"switch","z":"bd7eb62f.7f3bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":140,"wires":[["171c0ab5.de1f85"]]},{"id":"ef7df7b2.039978","type":"mqtt in","z":"bd7eb62f.7f3bc8","name":"MQTT-IN: cycleTimeScrap","topic":"ia/+/+/+/cycleTimeScrap","qos":"2","datatype":"auto","broker":"f560236c.e5cc4","x":190,"y":140,"wires":[["b2d56ed5.893b4"]]},{"id":"3736fd12.d54642","type":"function","z":"bd7eb62f.7f3bc8","name":"Check for exakt Topic","func":"var topic = \"ia/\"+env.get(\"customerID\")+\"/\"+env.get(\"location\")+\"/\"+env.get(\"AssetID\")+\"/cycleTimeScrap\"\nif (topic == msg.topic) {\n  msg.payload = msg.payload\n} else {\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["514d6b28.38ffc4"]]},{"id":"b2d56ed5.893b4","type":"json","z":"bd7eb62f.7f3bc8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":140,"wires":[["3736fd12.d54642"]]},{"id":"949f5a4e.e22488","type":"mqtt in","z":"bd7eb62f.7f3bc8","name":"MQTT-IN: addProduct","topic":"ia/+/+/+/addProduct","qos":"2","datatype":"auto","broker":"f560236c.e5cc4","x":180,"y":200,"wires":[["4dd310f5.be6ca"]]},{"id":"577f80bd.cba69","type":"function","z":"bd7eb62f.7f3bc8","name":"","func":"flow.set(\"product_id\",msg.payload.product_id);\nreturn null;\n\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":520,"y":200,"wires":[]},{"id":"4dd310f5.be6ca","type":"json","z":"bd7eb62f.7f3bc8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":200,"wires":[["577f80bd.cba69"]]},{"id":"71cdb65d.a25508","type":"debug","z":"bd7eb62f.7f3bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"120aa8e5.7c16a7","type":"function","z":"bd7eb62f.7f3bc8","name":"Scrapper for Cycles > than sanitytime","func":"cycles = flow.get(\"activecycles\")\nvar maxtime\nvar currenttime\nvar sanity\ncurrenttime = Date.now()\nfor (var i in cycles) {\n    beginn = cycles[i][\"begin_timestamp_ms\"]\n    sanity = cycles[i][\"sanityTime_in_s\"]*1000\n    maxtime = beginn + sanity;\n    if(currenttime > maxtime){\n        delete cycles[i];\n        flow.set(\"activecycles\",cycles);\n        msg.payload = {\"maxtime\": maxtime,\n                        \"currenttime\": currenttime\n        }\n    }\n    else{\n        msg.payload = {\"maxtime\": maxtime,\n                        \"currenttime\": currenttime,\n                        \"difference\": maxtime - currenttime\n        }\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":320,"wires":[[]]},{"id":"72ebb047.10fb4","type":"inject","z":"bd7eb62f.7f3bc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":320,"wires":[["120aa8e5.7c16a7","af4193ae.a476f"]]},{"id":"af4193ae.a476f","type":"function","z":"bd7eb62f.7f3bc8","name":"Give back current cycle","func":"cycles1 = flow.get(\"activecycles\")\nmsg.payload = cycles1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":360,"wires":[["71cdb65d.a25508"]]},{"id":"3a4b1bcb.1e45d4","type":"switch","z":"bd7eb62f.7f3bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":140,"wires":[[]]},{"id":"c161813.ad4dc8","type":"subflow","name":"Assembly Analytics Scrap ","info":"","category":"","in":[{"x":200,"y":80,"wires":[{"id":"d0667574.8babe8"}]}],"out":[],"env":[{"name":"customerID","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"location","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"AssetID","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}}],"color":"#3FADB5","icon":"font-awesome/fa-bolt"},{"id":"fc1336c0.8b80d8","type":"mqtt out","z":"c161813.ad4dc8","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"2","retain":"","broker":"f560236c.e5cc4","x":750,"y":80,"wires":[]},{"id":"d0667574.8babe8","type":"function","z":"c161813.ad4dc8","name":"Format: CycleTimeScrap","func":"msg.payload = {\n\"measurement\": env.get(\"customerID\")+\"-\"+env.get(\"location\")+\"-\"+env.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"scrap\": true\n}\n\nmsg.topic = \"ia/\"+env.get(\"customerID\")+\"/\"+env.get(\"location\")+\"/\"+env.get(\"AssetID\")+\"/cycleTimeScrap\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":80,"wires":[["fc1336c0.8b80d8"]]},{"id":"f560236c.e5cc4","type":"mqtt-broker","name":"","broker":"ia_mosquitto","port":"8883","tls":"","clientid":"123","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"2","birthPayload":"","closeTopic":"","closeQos":"2","closePayload":"","willTopic":"","willQos":"2","willPayload":""},{"id":"dffef76c.dfbac8","type":"tab","label":"Assembly Analytics","disabled":false,"info":""},{"id":"8c072ed5.98c39","type":"inject","z":"dffef76c.dfbac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":300,"wires":[["7b35557e.b1d1fc","a2a5c5de.eb3688"]]},{"id":"7b35557e.b1d1fc","type":"function","z":"dffef76c.dfbac8","name":"LAST QR CODE","func":"msg.topic = \"ns=2;s=StoneGardenChannel.StoneGarden.LastQRCode\"\nmsg.datatype = 2\nmsg.browseName = \"LastQRCode\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":260,"wires":[["76dd5beb.f6d8d4"]]},{"id":"a2a5c5de.eb3688","type":"function","z":"dffef76c.dfbac8","name":"RIGHT PICK","func":"msg.topic = \"ns=2;s=AssemblyWagoChannel.AssemblySewing1.DeviceSet.WAGO 750-8101 PFC100 CS 2ETH.Resources.Application.Programs.CHECK_PICKING.Right_Pick\"\nmsg.datatype = 2\nmsg.browseName = \"Right_Pick\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["7d7ca29.c216a5c"]]},{"id":"1c5bc6e2.fc9159","type":"switch","z":"dffef76c.dfbac8","name":"When TRUE","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":320,"wires":[["c2ab2395.1d709"]]},{"id":"a3fbd020.ba19d","type":"rbe","z":"dffef76c.dfbac8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":260,"wires":[["796d9e24.8c9c5"]]},{"id":"1e672b61.3f72e5","type":"rbe","z":"dffef76c.dfbac8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":970,"y":320,"wires":[["1c5bc6e2.fc9159"]]},{"id":"b068898e.845d68","type":"subflow:c161813.ad4dc8","z":"dffef76c.dfbac8","name":"Scrap AssemblyCell1","env":[{"name":"customerID","value":"DCCAachen","type":"str"},{"name":"location","value":"Aachen","type":"str"},{"name":"AssetID","value":"AssemblyCell1","type":"str"}],"x":1760,"y":600,"wires":[]},{"id":"8b59d71e.e17ff8","type":"subflow:bd7eb62f.7f3bc8","z":"dffef76c.dfbac8","name":"Assembyl Analytics middleware 1/2","env":[{"name":"customerID","value":"DCCAachen","type":"str"},{"name":"AssetID","value":"AssemblyCell1","type":"str"},{"name":"location","value":"Aachen","type":"str"}],"x":920,"y":100,"wires":[],"icon":"font-awesome/fa-random"},{"id":"796d9e24.8c9c5","type":"subflow:d971a381.28086","z":"dffef76c.dfbac8","name":"","env":[{"name":"sanityTime_in_s","value":"20","type":"num"},{"name":"customerID","value":"DCCAachen","type":"str"},{"name":"AssetID","value":"AssemblyCell1","type":"str"},{"name":"location","value":"Aachen","type":"str"}],"x":2100,"y":280,"wires":[]},{"id":"c2ab2395.1d709","type":"subflow:d971a381.28086","z":"dffef76c.dfbac8","name":"","env":[{"name":"currentStation","value":"1b","type":"str"},{"name":"lastStation","value":"1a","type":"str"},{"name":"sanityTime_in_s","value":"20","type":"num"},{"name":"customerID","value":"DCCAachen","type":"str"},{"name":"AssetID","value":"AssemblyCell1","type":"str"},{"name":"location","value":"Aachen","type":"str"}],"x":2100,"y":340,"wires":[]},{"id":"7d7ca29.c216a5c","type":"OpcUa-Client","z":"dffef76c.dfbac8","endpoint":"1296b575.17bfbb","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"l","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":780,"y":320,"wires":[["1e672b61.3f72e5"]]},{"id":"391c7cbc.f12f74","type":"subflow:d971a381.28086","z":"dffef76c.dfbac8","name":"","env":[{"name":"currentStation","value":"2a","type":"str"},{"name":"lastStation","value":"2b","type":"str"},{"name":"sanityTime_in_s","value":"20","type":"num"},{"name":"customerID","value":"DCCAachen","type":"str"},{"name":"AssetID","value":"AssemblyCell2","type":"str"},{"name":"location","value":"Aachen","type":"str"}],"x":2100,"y":420,"wires":[]},{"id":"f80d1147.dc2e6","type":"subflow:d971a381.28086","z":"dffef76c.dfbac8","name":"","env":[{"name":"currentStation","value":"2b","type":"str"},{"name":"lastStation","value":"2a","type":"str"},{"name":"sanityTime_in_s","value":"20","type":"num"},{"name":"customerID","value":"DCCAachen","type":"str"},{"name":"AssetID","value":"AssemblyCell2","type":"str"},{"name":"location","value":"Aachen","type":"str"}],"x":2100,"y":480,"wires":[]},{"id":"67db04fb.b4901c","type":"subflow:bd7eb62f.7f3bc8","z":"dffef76c.dfbac8","name":"Assembyl Analytics middleware 2/2","env":[{"name":"customerID","value":"DCCAachen","type":"str"},{"name":"AssetID","value":"AssemblyCell2","type":"str"},{"name":"location","value":"Aachen","type":"str"}],"x":920,"y":140,"wires":[],"icon":"font-awesome/fa-random"},{"id":"b7359b86.023088","type":"mqtt in","z":"dffef76c.dfbac8","name":"Kapazitiver Sensor am Fußschalter","topic":"ia/raw/2020-0137/000200410332/X01/310-371","qos":"2","datatype":"auto","broker":"f560236c.e5cc4","x":320,"y":420,"wires":[["d37e352.2fb81c8"]]},{"id":"d37e352.2fb81c8","type":"json","z":"dffef76c.dfbac8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":420,"wires":[["69c8d349.b3645c"]]},{"id":"69c8d349.b3645c","type":"function","z":"dffef76c.dfbac8","name":"","func":"msg.payload = msg.payload[\"Process value\"];\nmsg.topic=\"Fussschalter\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["67e29649.6ab368"]]},{"id":"fbc7137d.29d06","type":"mqtt in","z":"dffef76c.dfbac8","name":"Knöpfe an der QS","topic":"ia/raw/2020-0137/000200610092/X01/42-278531","qos":"2","datatype":"auto","broker":"f560236c.e5cc4","x":270,"y":500,"wires":[["f209c2a3.ef1e2"]]},{"id":"f209c2a3.ef1e2","type":"json","z":"dffef76c.dfbac8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":500,"wires":[["21907451.9bb22c"]]},{"id":"21907451.9bb22c","type":"function","z":"dffef76c.dfbac8","name":"","func":"msg.payload = parseInt(msg.payload[\"value_string\"].split(\"\")[3]);\nmsg.topic=\"Knoepfe\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":500,"wires":[["7e7f4df.a90afb4"]]},{"id":"67e29649.6ab368","type":"switch","z":"dffef76c.dfbac8","name":"Check if Value is larger than Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":420,"wires":[["c2c61567.8ea4b8"],["1de37030.c7a64"]]},{"id":"c2c61567.8ea4b8","type":"function","z":"dffef76c.dfbac8","name":"msg.payload = 1;","func":"msg.payload = 1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":400,"wires":[["3dfceb92.af4134"]]},{"id":"1de37030.c7a64","type":"function","z":"dffef76c.dfbac8","name":"msg.payload = 0;","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":440,"wires":[["3dfceb92.af4134"]]},{"id":"3dfceb92.af4134","type":"rbe","z":"dffef76c.dfbac8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":420,"wires":[["4dbf083c.c242f8"]]},{"id":"7e7f4df.a90afb4","type":"switch","z":"dffef76c.dfbac8","name":"Check if Value is larger than Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":500,"wires":[["866bd1aa.1850e"],["d3351ca5.9fbd4"]]},{"id":"866bd1aa.1850e","type":"function","z":"dffef76c.dfbac8","name":"msg.payload = 1;","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":480,"wires":[["9988b086.8187"]]},{"id":"d3351ca5.9fbd4","type":"function","z":"dffef76c.dfbac8","name":"msg.payload = 0;","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":520,"wires":[["9988b086.8187"]]},{"id":"9988b086.8187","type":"rbe","z":"dffef76c.dfbac8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1390,"y":500,"wires":[["81fe8534.d44218"]]},{"id":"76dd5beb.f6d8d4","type":"OpcUa-Client","z":"dffef76c.dfbac8","endpoint":"1296b575.17bfbb","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"l","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":780,"y":260,"wires":[["a3fbd020.ba19d"]]},{"id":"4dbf083c.c242f8","type":"switch","z":"dffef76c.dfbac8","name":"Check if Value is larger than Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":420,"wires":[["391c7cbc.f12f74"]]},{"id":"81fe8534.d44218","type":"switch","z":"dffef76c.dfbac8","name":"Check if Value is larger than Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1630,"y":500,"wires":[["f80d1147.dc2e6"]]},{"id":"b0ad4db7.415a3","type":"inject","z":"dffef76c.dfbac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1760,"y":180,"wires":[["796d9e24.8c9c5"]]},{"id":"f5348692.410248","type":"inject","z":"dffef76c.dfbac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1760,"y":220,"wires":[["c2ab2395.1d709"]]},{"id":"3ec454f7.7cb5ec","type":"inject","z":"dffef76c.dfbac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1760,"y":260,"wires":[["391c7cbc.f12f74"]]},{"id":"cc24bdeb.ac6fd","type":"inject","z":"dffef76c.dfbac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1760,"y":300,"wires":[["f80d1147.dc2e6"]]},{"id":"f6033c98.1d4b8","type":"mqtt in","z":"dffef76c.dfbac8","name":"Knöpfe an der QS","topic":"ia/raw/2020-0137/000200410332/X02/42-278531","qos":"2","datatype":"auto","broker":"f560236c.e5cc4","x":270,"y":620,"wires":[["8f8c06fc.2a75c8"]]},{"id":"8f8c06fc.2a75c8","type":"json","z":"dffef76c.dfbac8","name":"","property":"payload","action":"","pretty":false,"x":550,"y":620,"wires":[["6b3e4025.f74f"]]},{"id":"6b3e4025.f74f","type":"function","z":"dffef76c.dfbac8","name":"","func":"msg.payload = parseInt(msg.payload[\"value_string\"].split(\"\")[3]);\nmsg.topic=\"Knoepfe\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":620,"wires":[["2cb19d90.daa072"]]},{"id":"2cb19d90.daa072","type":"switch","z":"dffef76c.dfbac8","name":"Check if Value is larger than Threshold","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":930,"y":620,"wires":[["e8c38de3.5769e"],["e8c38de3.5769e"],["b98df7c5.37f8f8"],["b98df7c5.37f8f8"],["e8c38de3.5769e","b98df7c5.37f8f8"]]},{"id":"e8c38de3.5769e","type":"rbe","z":"dffef76c.dfbac8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1190,"y":600,"wires":[["559ff309.1a768c"]]},{"id":"b98df7c5.37f8f8","type":"rbe","z":"dffef76c.dfbac8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1190,"y":640,"wires":[["9d011f0.68b00e"]]},{"id":"d3701ccb.2f1b1","type":"subflow:c161813.ad4dc8","z":"dffef76c.dfbac8","name":"Scrap AssemblyCell2","env":[{"name":"customerID","value":"DCCAachen","type":"str"},{"name":"location","value":"Aachen","type":"str"},{"name":"AssetID","value":"AssemblyCell2","type":"str"}],"x":1760,"y":640,"wires":[]},{"id":"71a5471b.402188","type":"inject","z":"dffef76c.dfbac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1220,"y":740,"wires":[["b068898e.845d68"]]},{"id":"75a05057.9c5cc","type":"inject","z":"dffef76c.dfbac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1220,"y":780,"wires":[["d3701ccb.2f1b1"]]},{"id":"559ff309.1a768c","type":"switch","z":"dffef76c.dfbac8","name":"Check if Value is larger than Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":600,"wires":[["b068898e.845d68"]]},{"id":"9d011f0.68b00e","type":"switch","z":"dffef76c.dfbac8","name":"Check if Value is larger than Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":640,"wires":[["d3701ccb.2f1b1"]]},{"id":"1296b575.17bfbb","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.25:49320","secpol":"None","secmode":"None","login":false}]