docs/content/en/docs/Getting started/connecting-machines-creating-dashboards/node_red_flow_final.json
[{"id":"41c9c6783cbe3070","type":"tab","label":"Example flow","disabled":false,"info":""},{"id":"1dbcba11f60b8a92","type":"mqtt in","z":"41c9c6783cbe3070","name":"","topic":"ia/raw/development/000200410332/X04/42-278531","qos":"2","datatype":"auto","broker":"5dff9791.d1b278","nl":false,"rap":true,"rh":0,"x":210,"y":220,"wires":[["07660409756654f5"]]},{"id":"bc440998cde88fbc","type":"mqtt in","z":"41c9c6783cbe3070","name":"","topic":"ia/raw/development/000200410332/X02/310-372","qos":"2","datatype":"auto","broker":"5dff9791.d1b278","nl":false,"rap":true,"rh":0,"x":200,"y":80,"wires":[["ec36f7cd4e52da65"]]},{"id":"3c6f70444ecef854","type":"mqtt in","z":"41c9c6783cbe3070","name":"","topic":"ia/raw/development/000200410332/X01/310-371","qos":"2","datatype":"auto","broker":"5dff9791.d1b278","nl":false,"rap":true,"rh":0,"x":200,"y":540,"wires":[["c422d1a75bec61a7"]]},{"id":"07660409756654f5","type":"json","z":"41c9c6783cbe3070","name":"","property":"payload","action":"","pretty":false,"x":470,"y":220,"wires":[["f68e0fee2c4428c5"]]},{"id":"f68e0fee2c4428c5","type":"function","z":"41c9c6783cbe3070","name":"extract timestamp and message \"payload\"","func":"msg.timestamp=msg.payload.timestamp_ms\n\nmsg.payload=msg.payload.value_string;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":220,"wires":[["305c08bfb53e2380"]]},{"id":"305c08bfb53e2380","type":"rbe","z":"41c9c6783cbe3070","name":"Block unless change","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":980,"y":220,"wires":[["138ceca550697e78"]]},{"id":"138ceca550697e78","type":"switch","z":"41c9c6783cbe3070","name":"seperate buttons on button bar","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0108","vt":"str"},{"t":"eq","v":"0104","vt":"str"},{"t":"eq","v":"0120","vt":"str"},{"t":"eq","v":"0101","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1230,"y":220,"wires":[["864232941d4f9095"],["ef04cda342e8e309"],["f14f2347b8991c25"],["4166d3aafb4ba9b2"]]},{"id":"864232941d4f9095","type":"function","z":"41c9c6783cbe3070","name":"format json and set state to 10000 (active)","func":"msg.payload = {\n  \"timestamp_ms\": msg.timestamp,\n  \"state\": 10000\n}\n\nmsg.topic = \"ia/factoryinsight/dccaachen/docs/state\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":300,"wires":[["3b4517e765462369"]]},{"id":"ef04cda342e8e309","type":"function","z":"41c9c6783cbe3070","name":"format json and set state to 30000 (unknown)","func":"msg.payload = {\n  \"timestamp_ms\": msg.timestamp,\n  \"state\": 30000\n}\n\nmsg.topic = \"ia/factoryinsight/dccaachen/docs/state\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":340,"wires":[["3b4517e765462369"]]},{"id":"f14f2347b8991c25","type":"function","z":"41c9c6783cbe3070","name":"format json and set state to 60000 (material)","func":"msg.payload = {\n  \"timestamp_ms\": msg.timestamp,\n  \"state\": 60000\n}\n\nmsg.topic = \"ia/factoryinsight/dccaachen/docs/state\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":380,"wires":[["3b4517e765462369"]]},{"id":"4166d3aafb4ba9b2","type":"function","z":"41c9c6783cbe3070","name":"format json and set state to 100000 (process)","func":"msg.payload = {\n  \"timestamp_ms\": msg.timestamp,\n  \"state\": 100000\n}\n\nmsg.topic = \"ia/factoryinsight/dccaachen/docs/state\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":420,"wires":[["3b4517e765462369"]]},{"id":"3b4517e765462369","type":"mqtt out","z":"41c9c6783cbe3070","name":"MQTT-Out (processed data)","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5dff9791.d1b278","x":1600,"y":360,"wires":[]},{"id":"ec36f7cd4e52da65","type":"json","z":"41c9c6783cbe3070","name":"","property":"payload","action":"","pretty":false,"x":450,"y":80,"wires":[["4be36b67b48c4bed"]]},{"id":"4be36b67b48c4bed","type":"function","z":"41c9c6783cbe3070","name":"extract timestamp and message \"payload\"","func":"msg.timestamp=msg.payload.timestamp_ms\n\nmsg.payload=msg.payload.Distance;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":80,"wires":[["4c050fac4713a976"]]},{"id":"4c050fac4713a976","type":"falling-edge","z":"41c9c6783cbe3070","name":"trigger on value smaller 15","threshold":"15","x":980,"y":80,"wires":[["f0819c037e164b82"]]},{"id":"f0819c037e164b82","type":"function","z":"41c9c6783cbe3070","name":"format json and count 1 in addition","func":"msg.payload = {\n\"timestamp_ms\": Date.now(),\n\"count\": 1\n}\nmsg.topic = \"ia/factoryinsight/dccaachen/docs/count\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":80,"wires":[["e8e142b19d624827"]]},{"id":"e8e142b19d624827","type":"mqtt out","z":"41c9c6783cbe3070","name":"MQTT-Out (processed data)","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5dff9791.d1b278","x":1540,"y":80,"wires":[]},{"id":"791c4d8fb8a9a551","type":"mqtt out","z":"41c9c6783cbe3070","name":"MQTT-Out (processed data)","topic":"","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5dff9791.d1b278","x":1280,"y":540,"wires":[]},{"id":"aa7120fed7ba08cf","type":"function","z":"41c9c6783cbe3070","name":"format json and inject processValue","func":"msg.payload = {\n    \"timestamp_ms\": msg.timestamp, \n    \"process_value\": msg.payload\n}\nmsg.topic = \"ia/factoryinsight/dccaachen/docs/processValue\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":540,"wires":[["791c4d8fb8a9a551"]]},{"id":"c422d1a75bec61a7","type":"json","z":"41c9c6783cbe3070","name":"","property":"payload","action":"","pretty":false,"x":450,"y":540,"wires":[["794c4d9120b57bbf"]]},{"id":"794c4d9120b57bbf","type":"function","z":"41c9c6783cbe3070","name":"extract timestamp and message \"payload\"","func":"msg.timestamp=msg.payload.timestamp_ms\n\nmsg.payload=msg.payload[\"Process value\"]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":540,"wires":[["aa7120fed7ba08cf"]]},{"id":"15ac846c1b2a6582","type":"inject","z":"41c9c6783cbe3070","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":180,"y":680,"wires":[["61632cbe1ca2a8ab"]]},{"id":"61632cbe1ca2a8ab","type":"function","z":"41c9c6783cbe3070","name":"add Shift","func":"msg.payload = {\n    \"timestamp_ms\": 1639522810000, // 2021-12-14 00:00\n    \"timestamp_ms_end\": 1639609200000 // 2021-12-15 00:00\n}\nmsg.topic = \"ia/factoryinsight/dccaachen/docs/addShift\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["9583bcc82ec8636f"]]},{"id":"9583bcc82ec8636f","type":"mqtt out","z":"41c9c6783cbe3070","name":"MQTT-Out (processed data)","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5dff9791.d1b278","x":520,"y":680,"wires":[]},{"id":"5dff9791.d1b278","type":"mqtt-broker","name":"","broker":"factorycube-edge-emqxedge-service","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]