docs/static/examples/nodered/standard_flow.json
[{"id":"592b9c06.2959d4","type":"subflow","name":"Operator Buttons [BETA]","info":"","category":"","in":[],"out":[],"env":[{"name":"Mode","type":"str","value":"","ui":{"icon":"font-awesome/fa-lightbulb-o","type":"select","opts":{"opts":[{"l":{"en-US":"without lighting"},"v":"0"},{"l":{"en-US":"with lighting"},"v":"1"}]}}},{"name":"topic","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"port","type":"str","value":"8","ui":{"icon":"font-awesome/fa-braille","type":"input","opts":{"types":["str"]}}},{"name":"ipAdress","type":"str","value":"172.16.38.144","ui":{"icon":"font-awesome/fa-address-book-o","type":"input","opts":{"types":["str"]}}},{"name":"detAno1","type":"str","value":"4","ui":{"icon":"font-awesome/fa-bullhorn","type":"input","opts":{"types":["str","num"]}}},{"name":"detAno2","type":"str","value":"5","ui":{"icon":"font-awesome/fa-bullhorn","type":"input","opts":{"types":["str","num"]}}},{"name":"detAno3","type":"str","value":"6","ui":{"icon":"font-awesome/fa-bullhorn","type":"input","opts":{"types":["str","num"]}}},{"name":"detAno4","type":"str","value":"7","ui":{"icon":"font-awesome/fa-bullhorn","type":"input","opts":{"types":["str","num"]}}}],"color":"#D5F0FF","icon":"font-awesome/fa-play-circle"},{"id":"a32094a4.0b53f8","type":"http request","z":"592b9c06.2959d4","name":"","method":"POST","ret":"txt","paytoqs":true,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":300,"wires":[[]]},{"id":"4f85af76.d5e53","type":"function","z":"592b9c06.2959d4","name":"Knopfleiste AUS","func":"\nmsg.payload = {\n    \"code\":\"request\",               \n    \"cid\":4711,              \n    \"adr\":\"/iolinkmaster/port[\"+env.get(\"port\")+\"]/iolinkdevice/pdout/setdata\",\n    \"data\":{\"newvalue\":\"0000\"}            }\n\nmsg.url = env.get(\"ipAdress\")\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":1060,"y":300,"wires":[["a32094a4.0b53f8"]]},{"id":"d5b7d272.4f87f","type":"json","z":"592b9c06.2959d4","name":"","property":"payload","action":"","pretty":false,"x":270,"y":400,"wires":[["5f2b085d.5bef88"]]},{"id":"ec0eeaec.8da698","type":"switch","z":"592b9c06.2959d4","name":"Switch Cases","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":980,"y":400,"wires":[["34b6276.e140ad8"],["47dec151.ee9e1"],["219c3eca.f1e322"],["78c3263d.8b11e8"],["78c3263d.8b11e8","219c3eca.f1e322","47dec151.ee9e1","34b6276.e140ad8"]]},{"id":"34b6276.e140ad8","type":"rising-edge","z":"592b9c06.2959d4","name":"payload","threshold":"0.01","x":1140,"y":380,"wires":[["53f29416.074e0c"]]},{"id":"47dec151.ee9e1","type":"rising-edge","z":"592b9c06.2959d4","name":"payload","threshold":"0.999","x":1140,"y":420,"wires":[["58c0d6e8.8a21a8"]]},{"id":"219c3eca.f1e322","type":"rising-edge","z":"592b9c06.2959d4","name":"payload","threshold":"0.999","x":1140,"y":460,"wires":[["e6e653db.c142f"]]},{"id":"78c3263d.8b11e8","type":"rising-edge","z":"592b9c06.2959d4","name":"payload","threshold":"0.999","x":1140,"y":500,"wires":[["a9d27030.3f82"]]},{"id":"53f29416.074e0c","type":"function","z":"592b9c06.2959d4","name":"Transform into MQTT_Datenmodell","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\"),\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": env.get(\"detAno4\")\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":380,"wires":[["6f90a2ac.15f8ec"]]},{"id":"58c0d6e8.8a21a8","type":"function","z":"592b9c06.2959d4","name":"Transform into MQTT_Datenmodell","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\"),\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": env.get(\"detAno3\")\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":420,"wires":[["6f90a2ac.15f8ec"]]},{"id":"e6e653db.c142f","type":"function","z":"592b9c06.2959d4","name":"Transform into MQTT_Datenmodell","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\"),\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": env.get(\"detAno2\")\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":460,"wires":[["6f90a2ac.15f8ec"]]},{"id":"a9d27030.3f82","type":"function","z":"592b9c06.2959d4","name":"Transform into MQTT_Datenmodell","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\"),\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": env.get(\"detAno1\")\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":500,"wires":[["6f90a2ac.15f8ec"]]},{"id":"a693a5d3.a8af78","type":"mqtt in","z":"592b9c06.2959d4","name":"Knopfleiste","topic":"ia/raw/#","qos":"2","datatype":"auto","broker":"7e10fccc.fbc474","x":100,"y":400,"wires":[["d5b7d272.4f87f"]]},{"id":"2ffb01c.79c51fe","type":"function","z":"592b9c06.2959d4","name":"Parse Raw Data","func":"msg.payload = parseInt(msg.payload[\"value_string\"].split(\"\")[3])\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":400,"wires":[["ec0eeaec.8da698"]]},{"id":"73890db0.570b94","type":"switch","z":"592b9c06.2959d4","name":"","property":"Mode","propertyType":"env","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":400,"wires":[["2ffb01c.79c51fe"],["699f9517.9d677c"]]},{"id":"5f2b085d.5bef88","type":"function","z":"592b9c06.2959d4","name":"Check for exakt Topic","func":"var topic = env.get(\"topic\")\nif (topic == msg.topic) {\n  msg.payload = msg.payload\n} else {\n  return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["73890db0.570b94"]]},{"id":"6f90a2ac.15f8ec","type":"mqtt out","z":"592b9c06.2959d4","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"2","retain":"","broker":"7e10fccc.fbc474","x":1750,"y":440,"wires":[]},{"id":"3a829d89.eff3e2","type":"mqtt in","z":"592b9c06.2959d4","name":"MQTT-IN: activity","topic":"ia/+/+/+/activity","qos":"2","datatype":"auto","broker":"7e10fccc.fbc474","x":120,"y":300,"wires":[["3b0490dc.f2066"]]},{"id":"3b0490dc.f2066","type":"json","z":"592b9c06.2959d4","name":"","property":"payload","action":"","pretty":false,"x":270,"y":300,"wires":[["c47a878c.349998"]]},{"id":"c47a878c.349998","type":"function","z":"592b9c06.2959d4","name":"Check for exakt Topic","func":"var topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/activity\"\nif (topic == msg.topic) {\n  msg.payload = msg.payload\n} else {\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":300,"wires":[["61ec413d.c2678"]]},{"id":"61ec413d.c2678","type":"switch","z":"592b9c06.2959d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":300,"wires":[["c2cfe6ce.f01568","1aa90573.fb3d3b","4c4e6d0a.a09114"]]},{"id":"c2cfe6ce.f01568","type":"function","z":"592b9c06.2959d4","name":"set currentactivity1","func":"flow.set(\"currentActivity1\",msg.payload.activity)\nreturn msg;","outputs":0,"noerr":0,"x":870,"y":220,"wires":[]},{"id":"1aa90573.fb3d3b","type":"switch","z":"592b9c06.2959d4","name":"","property":"payload.activity","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":300,"wires":[["4f85af76.d5e53","4c4e6d0a.a09114"]]},{"id":"8768ccbe.951d9","type":"switch","z":"592b9c06.2959d4","name":"Switch Cases","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":1000,"y":600,"wires":[["59fc6d89.21d894","93e8746f.79e8b8"],["a5ddf0f6.ec9f4"],["b152989b.35a518"],["cc7e35b2.163128"],["cc7e35b2.163128","b152989b.35a518","a5ddf0f6.ec9f4","59fc6d89.21d894"]]},{"id":"59fc6d89.21d894","type":"rising-edge","z":"592b9c06.2959d4","name":"payload","threshold":"0.01","x":1160,"y":580,"wires":[["1ea4dac7.f1edb5","bd15a5b9.656728"]]},{"id":"a5ddf0f6.ec9f4","type":"rising-edge","z":"592b9c06.2959d4","name":"payload","threshold":"0.999","x":1160,"y":660,"wires":[["8c3f84be.3dc5b8","24da9321.7442ec"]]},{"id":"b152989b.35a518","type":"rising-edge","z":"592b9c06.2959d4","name":"payload","threshold":"0.999","x":1160,"y":740,"wires":[["2cff297d.9b7da6","2098c573.8ee53a"]]},{"id":"cc7e35b2.163128","type":"rising-edge","z":"592b9c06.2959d4","name":"payload","threshold":"0.999","x":1160,"y":820,"wires":[["cee34edc.78839","e820a3d8.ddcea"]]},{"id":"1ea4dac7.f1edb5","type":"function","z":"592b9c06.2959d4","name":"Transform into MQTT_Datenmodell","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\"),\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": env.get(\"detAno4\")\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":580,"wires":[["53d491e9.fc5e7","93e8746f.79e8b8"]]},{"id":"8c3f84be.3dc5b8","type":"function","z":"592b9c06.2959d4","name":"Transform into MQTT_Datenmodell","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\"),\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": env.get(\"detAno3\")\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":660,"wires":[["53d491e9.fc5e7"]]},{"id":"2cff297d.9b7da6","type":"function","z":"592b9c06.2959d4","name":"Transform into MQTT_Datenmodell","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\"),\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": env.get(\"detAno2\")\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":740,"wires":[["53d491e9.fc5e7"]]},{"id":"cee34edc.78839","type":"function","z":"592b9c06.2959d4","name":"Transform into MQTT_Datenmodell","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\"),\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": env.get(\"detAno1\")\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":820,"wires":[["53d491e9.fc5e7"]]},{"id":"699f9517.9d677c","type":"function","z":"592b9c06.2959d4","name":"Parse Raw Data","func":"msg.payload = parseInt(msg.payload[\"value_string\"].split(\"\")[3])\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":600,"wires":[["8768ccbe.951d9"]]},{"id":"53d491e9.fc5e7","type":"mqtt out","z":"592b9c06.2959d4","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"2","retain":"","broker":"6f440337.d2357c","x":1930,"y":740,"wires":[]},{"id":"2093a236.90e44e","type":"http request","z":"592b9c06.2959d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":620,"wires":[[]]},{"id":"bdf8819d.c11f5","type":"function","z":"592b9c06.2959d4","name":"Knopf 4 AN","func":"\nmsg.payload = {\n    \"code\":\"request\",               \n    \"cid\":4711,              \n    \"adr\":\"/iolinkmaster/port[\"+env.get(\"port\")+\"]/iolinkdevice/pdout/setdata\",\n    \"data\":{\"newvalue\":\"8000\"}            }\n\nmsg.url = env.get(\"ipAdress\")\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":1450,"y":620,"wires":[["2093a236.90e44e"]]},{"id":"5534c191.6a248","type":"function","z":"592b9c06.2959d4","name":"Knopf 3 AN","func":"\nmsg.payload = {\n    \"code\":\"request\",               \n    \"cid\":4711,              \n    \"adr\":\"/iolinkmaster/port[\"+env.get(\"port\")+\"]/iolinkdevice/pdout/setdata\",\n    \"data\":{\"newvalue\":\"4000\"}            }\n\nmsg.url = env.get(\"ipAdress\")\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":1450,"y":700,"wires":[["b82754a2.1e9a58"]]},{"id":"b82754a2.1e9a58","type":"http request","z":"592b9c06.2959d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":700,"wires":[[]]},{"id":"808aa0db.b1fbf","type":"function","z":"592b9c06.2959d4","name":"Knopf 2 AN","func":"\nmsg.payload = {\n    \"code\":\"request\",               \n    \"cid\":4711,              \n    \"adr\":\"/iolinkmaster/port[\"+env.get(\"port\")+\"]/iolinkdevice/pdout/setdata\",\n    \"data\":{\"newvalue\":\"2000\"}            }\n\nmsg.url = env.get(\"ipAdress\")\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":1450,"y":780,"wires":[["7c2bdc89.903d24"]]},{"id":"7c2bdc89.903d24","type":"http request","z":"592b9c06.2959d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":780,"wires":[[]]},{"id":"68074929.e48f18","type":"function","z":"592b9c06.2959d4","name":"Knopf 1 AN","func":"\nmsg.payload = {\n    \"code\":\"request\",               \n    \"cid\":4711,              \n    \"adr\":\"/iolinkmaster/port[\"+env.get(\"port\")+\"]/iolinkdevice/pdout/setdata\",\n    \"data\":{\"newvalue\":\"1000\"}            }\n\nmsg.url = env.get(\"ipAdress\")\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":1450,"y":860,"wires":[["983e23c.55773e"]]},{"id":"983e23c.55773e","type":"http request","z":"592b9c06.2959d4","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1650,"y":860,"wires":[[]]},{"id":"bd15a5b9.656728","type":"switch","z":"592b9c06.2959d4","name":"","property":"currentActivity1","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":620,"wires":[["bdf8819d.c11f5"]]},{"id":"24da9321.7442ec","type":"switch","z":"592b9c06.2959d4","name":"","property":"currentActivity1","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1296,"y":699,"wires":[["5534c191.6a248"]]},{"id":"2098c573.8ee53a","type":"switch","z":"592b9c06.2959d4","name":"","property":"currentActivity1","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":780,"wires":[["808aa0db.b1fbf"]]},{"id":"e820a3d8.ddcea","type":"switch","z":"592b9c06.2959d4","name":"","property":"currentActivity1","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":860,"wires":[["68074929.e48f18"]]},{"id":"4c4e6d0a.a09114","type":"debug","z":"592b9c06.2959d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":240,"wires":[]},{"id":"93e8746f.79e8b8","type":"debug","z":"592b9c06.2959d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1760,"y":520,"wires":[]},{"id":"7e10fccc.fbc474","type":"mqtt-broker","name":"","broker":"ia_mosquitto","port":"8883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6f440337.d2357c","type":"mqtt-broker","d":true,"name":"","broker":"mqtt.industrial-analytics.net","port":"8883","tls":"7920c697.cce558","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7920c697.cce558","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"TESTING_ALEX.pem","keyname":"TESTING_ALEX-privkey.pem","caname":"intermediate_CA.pem","servername":"","verifyservercert":false},{"id":"d13f4073.6bd45","type":"subflow","name":"Shift_management","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"5a36db0b.c72454"}]}],"out":[],"env":[],"color":"#D5F0FF","icon":"node-red/timer.svg"},{"id":"5a36db0b.c72454","type":"function","z":"d13f4073.6bd45","name":"Create Shift","func":"timestamp_ms = Date.now() //convert to ms\ntimestamp_ms_end = timestamp_ms + (msg.duration_in_minutes * 60*1000)\n\nmsg.payload = {\n    \"timestamp_ms\": timestamp_ms, \n    \"timestamp_ms_end\": timestamp_ms_end,\n}\nmsg.topic = \"ia/\"+env.get(\"customerID\")+\"/\"+env.get(\"location\")+\"/\"+env.get(\"AssetID\")+\"/state\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["8f2cf28e.55453"]]},{"id":"8f2cf28e.55453","type":"mqtt out","z":"d13f4073.6bd45","name":"","topic":"","qos":"","retain":"","broker":"fcf9fa47.67ca18","x":400,"y":80,"wires":[]},{"id":"fcf9fa47.67ca18","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","tls":"bf3609c5.fcbcf8","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"714b2549.1d021c","type":"subflow","name":"output_to_activity","info":"","category":"ia: nodes","in":[],"out":[],"env":[{"name":"max_duration","type":"num","value":"10","ui":{"icon":"font-awesome/fa-clock-o","label":{"en-US":"max_duration"},"type":"input","opts":{"types":["num"]}}}],"color":"#D5F0FF","icon":"node-red/sort.svg"},{"id":"293303f9.294e9c","type":"json","z":"714b2549.1d021c","name":"","property":"payload","action":"","pretty":false,"x":250,"y":100,"wires":[["6b6fb60d.ccd9f8"]]},{"id":"44c0a7c6.794ab8","type":"mqtt in","z":"714b2549.1d021c","name":"MQTT-IN: output","topic":"ia/+/+/+/output","qos":"2","datatype":"auto","broker":"81d4dffc.ca86b","x":100,"y":100,"wires":[["293303f9.294e9c"]]},{"id":"6b6fb60d.ccd9f8","type":"function","z":"714b2549.1d021c","name":"Check for exakt Topic","func":"var topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/output\"\nif (topic == msg.topic) {\n  msg.payload = msg.payload\n} else {\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[["409a10df.2993a"]]},{"id":"409a10df.2993a","type":"switch","z":"714b2549.1d021c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":100,"wires":[["13772c0f.d17284"]]},{"id":"8ea68d4b.17d65","type":"function","z":"714b2549.1d021c","name":"Format: activity ","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"activity\": msg.payload\n}\n\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/activity\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":100,"wires":[["3951e9ef.a0d496"]]},{"id":"3951e9ef.a0d496","type":"mqtt out","z":"714b2549.1d021c","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"","retain":"","broker":"81d4dffc.ca86b","x":1670,"y":100,"wires":[]},{"id":"2d54bb36.19b404","type":"rbe","z":"714b2549.1d021c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1250,"y":100,"wires":[["8ea68d4b.17d65"]]},{"id":"13772c0f.d17284","type":"function","z":"714b2549.1d021c","name":"","func":"flow.set(\"ts_last_output\", Date.now())\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":100,"wires":[[]]},{"id":"62ef56ba.36cdc8","type":"function","z":"714b2549.1d021c","name":"","func":"if (flow.get(\"ts_last_output\")==undefined) {\n  flow.set(\"ts_last_output\", Date.now())\n  return null;\n} else if ((Date.now()-flow.get(\"ts_last_output\"))<env.get(\"max_duration\")*1000) {\n  msg.payload = true;\n} else {\n  msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":100,"wires":[["2d54bb36.19b404"]]},{"id":"72d59a07.28db24","type":"inject","z":"714b2549.1d021c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.25","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":930,"y":100,"wires":[["62ef56ba.36cdc8"]]},{"id":"b2a67990.09f878","type":"subflow","name":"state_logic","info":"","category":"ia: nodes","in":[],"out":[],"env":[],"color":"#D5F0FF","icon":"node-red/status.svg"},{"id":"4cb09eb9.c8036","type":"function","z":"b2a67990.09f878","name":"State logic","func":"msg.payload = msg.payload.detectedAnomaly\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":120,"wires":[["7b06a23c.c1975c"]]},{"id":"ee606da0.1c8c","type":"function","z":"b2a67990.09f878","name":"get currentactivity","func":"msg.payload.currentActivity = flow.get(\"currentActivity\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":120,"wires":[["1ba59173.cec0df"]]},{"id":"1ba59173.cec0df","type":"switch","z":"b2a67990.09f878","name":"Only when machine is not running","property":"payload.currentActivity","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1080,"y":120,"wires":[["4cb09eb9.c8036"]]},{"id":"a3dc7cac.9018b","type":"function","z":"b2a67990.09f878","name":"set currentactivity","func":"flow.set(\"currentActivity\",msg.payload.activity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":40,"wires":[["948e765e.e51658"]]},{"id":"186e8541.15fa8b","type":"function","z":"b2a67990.09f878","name":"Format: state (Machine Not Running with reason)","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"state\": parseInt(msg.payload)\n}\nflow.set(\"currentState\",msg.payload.state)\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/state\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":120,"wires":[["4651d680.138818"]]},{"id":"948e765e.e51658","type":"switch","z":"b2a67990.09f878","name":"","property":"payload.activity","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":40,"wires":[["5ab40fad.4ec1b"],["5a32e0cf.70e19"]]},{"id":"5ab40fad.4ec1b","type":"function","z":"b2a67990.09f878","name":"Format: state (Machine running)","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"state\": 0\n}\nflow.set(\"currentState\",msg.payload.state)\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/state\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":40,"wires":[["4651d680.138818"]]},{"id":"234909db.c2e536","type":"function","z":"b2a67990.09f878","name":"Format: state (Machine not running no reason specified)","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"state\": 1\n}\nflow.set(\"currentState\",msg.payload.state)\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/state\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":80,"wires":[["4651d680.138818"]]},{"id":"4651d680.138818","type":"mqtt out","z":"b2a67990.09f878","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"","retain":"","broker":"81d4dffc.ca86b","x":2090,"y":80,"wires":[]},{"id":"7b06a23c.c1975c","type":"switch","z":"b2a67990.09f878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":120,"wires":[["186e8541.15fa8b"]]},{"id":"5a32e0cf.70e19","type":"function","z":"b2a67990.09f878","name":"Was last state == machine running?","func":"if (flow.get(\"currentState\")==0) {\n  return msg;\n} else {\n  return null;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":80,"wires":[["234909db.c2e536"]]},{"id":"46edd4d0.6c1f8c","type":"json","z":"b2a67990.09f878","name":"","property":"payload","action":"","pretty":false,"x":250,"y":40,"wires":[["c9476e9f.238e1"]]},{"id":"c0dc93b8.4676f","type":"mqtt in","z":"b2a67990.09f878","name":"MQTT-IN: activity","topic":"ia/+/+/+/activity","qos":"2","datatype":"auto","broker":"81d4dffc.ca86b","x":100,"y":40,"wires":[["46edd4d0.6c1f8c"]]},{"id":"c9476e9f.238e1","type":"function","z":"b2a67990.09f878","name":"Check for exakt Topic","func":"var topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/activity\"\nif (topic == msg.topic) {\n  msg.payload = msg.payload\n} else {\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":40,"wires":[["a75a215d.dc56e"]]},{"id":"a75a215d.dc56e","type":"switch","z":"b2a67990.09f878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":40,"wires":[["a3dc7cac.9018b"]]},{"id":"abe0378c.4ebe98","type":"mqtt in","z":"b2a67990.09f878","name":"MQTT-IN: detectedAnomaly","topic":"ia/+/+/+/detectedAnomaly","qos":"2","datatype":"auto","broker":"81d4dffc.ca86b","x":140,"y":120,"wires":[["e07269d9.b08088"]]},{"id":"e07269d9.b08088","type":"json","z":"b2a67990.09f878","name":"","property":"payload","action":"","pretty":false,"x":330,"y":120,"wires":[["6539685d.f0ee88"]]},{"id":"6539685d.f0ee88","type":"function","z":"b2a67990.09f878","name":"Check for exakt Topic","func":"var topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nif (topic == msg.topic) {\n  msg.payload = msg.payload\n} else {\n  msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["daaa8abf.e8e878"]]},{"id":"daaa8abf.e8e878","type":"switch","z":"b2a67990.09f878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":120,"wires":[["ee606da0.1c8c"]]},{"id":"f05814f0.ec8848","type":"subflow","name":"Larger/Smaller than Value","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"a095b230.f9fb4"}]}],"out":[{"x":1460,"y":80,"wires":[{"id":"c3f9f99c.336288","port":0}]}],"env":[{"name":"mode","type":"str","value":"","ui":{"icon":"font-awesome/fa-cogs","type":"select","opts":{"opts":[{"l":{"en-US":"Switch when smaller than"},"v":"smaller"},{"l":{"en-US":"Switch when larger than"},"v":"larger"}]}}},{"name":"threshold","type":"num","value":"80","ui":{"icon":"font-awesome/fa-arrows-h","type":"input","opts":{"types":["num"]}}},{"name":"msgToSend","type":"str","value":"1","ui":{"icon":"font-awesome/fa-envelope-o"}},{"name":"keyInMsg","type":"str","value":"Distance","ui":{"icon":"font-awesome/fa-key"}}],"color":"#D5F0FF","icon":"font-awesome/fa-compress"},{"id":"a35e6c9d.1d07c","type":"switch","z":"f05814f0.ec8848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"threshold","vt":"env"},{"t":"lt","v":"threshold","vt":"env"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":40,"wires":[["e4344450.9e5618"],["e3bf7657.450e68"]]},{"id":"b7fa097f.610588","type":"function","z":"f05814f0.ec8848","name":"smaller than","func":"if (env.get(\"mode\")==\"smaller_than\") {\n  return msg;\n} else {\n  return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":40,"wires":[["a35e6c9d.1d07c"]]},{"id":"8378a79d.804968","type":"function","z":"f05814f0.ec8848","name":"larger than","func":"if (env.get(\"mode\")==\"larger_than\") {\n  return msg;\n} else {\n  return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":120,"wires":[["a9a7459e.c10e38"]]},{"id":"e3bf7657.450e68","type":"function","z":"f05814f0.ec8848","name":"msg.payload = 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":60,"wires":[["3ed7e42a.eb6e9c"]]},{"id":"e4344450.9e5618","type":"function","z":"f05814f0.ec8848","name":"msg.payload = 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":20,"wires":[["3ed7e42a.eb6e9c"]]},{"id":"a9a7459e.c10e38","type":"switch","z":"f05814f0.ec8848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"distance","vt":"env"},{"t":"lt","v":"distance","vt":"env"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":120,"wires":[["e4febe6a.fdc45"],["ce04772b.f52598"]]},{"id":"e4febe6a.fdc45","type":"function","z":"f05814f0.ec8848","name":"msg.payload = 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":100,"wires":[["853b46bc.cf99c8"]]},{"id":"ce04772b.f52598","type":"function","z":"f05814f0.ec8848","name":"msg.payload = 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":140,"wires":[["853b46bc.cf99c8"]]},{"id":"3ed7e42a.eb6e9c","type":"rising-edge","z":"f05814f0.ec8848","name":"","threshold":"0.5","x":1050,"y":40,"wires":[["c3f9f99c.336288"]]},{"id":"853b46bc.cf99c8","type":"rising-edge","z":"f05814f0.ec8848","name":"","threshold":"0.5","x":1050,"y":120,"wires":[["c3f9f99c.336288"]]},{"id":"c3f9f99c.336288","type":"function","z":"f05814f0.ec8848","name":"msg.payload = msgToSend","func":"msg.payload = env.get(\"msgToSend\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":80,"wires":[[]]},{"id":"a095b230.f9fb4","type":"function","z":"f05814f0.ec8848","name":"Parse from msg","func":"msg.payload = msg.payload[env.get(\"keyInMsg\")]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":80,"wires":[["b7fa097f.610588","8378a79d.804968"]]},{"id":"8618dc69.4769","type":"subflow","name":"processvalue","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"e6c701d9.fa99a"}]}],"out":[],"env":[{"name":"namePV","type":"str","value":"yourProcessValueName","ui":{"icon":"font-awesome/fa-text-width"}}],"color":"#D5F0FF","icon":"font-awesome/fa-area-chart"},{"id":"ece04f8d.251ef","type":"mqtt out","z":"8618dc69.4769","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"","retain":"","broker":"81d4dffc.ca86b","x":770,"y":60,"wires":[]},{"id":"e6d7fb26.0bcc68","type":"function","z":"8618dc69.4769","name":"Format: processValue","func":"var namePV = env.get(\"namePV\")\nvar tempJSON = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n}\ntempJSON[namePV]=msg.payload;\nmsg.payload= tempJSON;\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/processValue\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":60,"wires":[["ece04f8d.251ef"]]},{"id":"e6c701d9.fa99a","type":"rbe","z":"8618dc69.4769","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":60,"wires":[["e6d7fb26.0bcc68"]]},{"id":"a5e0fac6.ceb088","type":"subflow","name":"output","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"f05e8be0.ac83c8"}]}],"out":[],"env":[],"color":"#D5F0FF","icon":"node-red-dashboard/ui_chart.png"},{"id":"f05e8be0.ac83c8","type":"function","z":"a5e0fac6.ceb088","name":"Format: output","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"output\": msg.payload\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/output\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["8603c321.ae811"]]},{"id":"8603c321.ae811","type":"mqtt out","z":"a5e0fac6.ceb088","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"","retain":"","broker":"81d4dffc.ca86b","x":550,"y":120,"wires":[]},{"id":"367bcdc.effb932","type":"subflow","name":"detectedAnomaly","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"4dbc7e31.a5fc9"}]}],"out":[],"env":[],"color":"#D5F0FF","icon":"node-red/alert.svg"},{"id":"d3c64b4b.62aab8","type":"mqtt out","z":"367bcdc.effb932","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"","retain":"","broker":"81d4dffc.ca86b","x":470,"y":80,"wires":[]},{"id":"4dbc7e31.a5fc9","type":"function","z":"367bcdc.effb932","name":"Format: detectedAnomaly","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"detectedAnomaly\": msg.payload\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/detectedAnomaly\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["d3c64b4b.62aab8"]]},{"id":"ea60d29d.289ea","type":"subflow","name":"activity","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"2b33638f.a190cc"}]}],"out":[],"env":[],"color":"#D5F0FF","icon":"node-red/serial.svg"},{"id":"e1fa44ff.1e8308","type":"function","z":"ea60d29d.289ea","name":"Format: Activity","func":"msg.payload = {\n\"measurement\": global.get(\"customerID\")+\"-\"+global.get(\"location\")+\"-\"+global.get(\"AssetID\") ,\n\"timestamp_ms\": Date.now(),\n\"activity\": msg.payload\n}\nmsg.topic = \"ia/\"+global.get(\"customerID\")+\"/\"+global.get(\"location\")+\"/\"+global.get(\"AssetID\")+\"/activity\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["daf3344.c50fec8"]]},{"id":"daf3344.c50fec8","type":"mqtt out","z":"ea60d29d.289ea","name":"MQTT-OUT: Verarbeitete Daten","topic":"","qos":"","retain":"","broker":"81d4dffc.ca86b","x":570,"y":80,"wires":[]},{"id":"2b33638f.a190cc","type":"rbe","z":"ea60d29d.289ea","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":190,"y":80,"wires":[["e1fa44ff.1e8308"]]},{"id":"81d4dffc.ca86b","type":"mqtt-broker","d":true,"name":"","broker":"mqtt.industrial-analytics.net","port":"8883","tls":"bf3609c5.fcbcf8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf3609c5.fcbcf8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"TESTING_ALEX.pem","keyname":"TESTING_ALEX-privkey.pem","caname":"intermediate_CA.pem","servername":"","verifyservercert":false},{"id":"27651c9e.4ce444","type":"tab","label":"Landing Page","disabled":false,"info":""},{"id":"57b7f4c7.aa80ac","type":"group","z":"27651c9e.4ce444","name":"General configuration","style":{"fill":"#0069A2","fill-opacity":"0.75","label":true,"color":"#ffffff"},"nodes":["1a57b14c.6dc0ef","4dfa3a02.681074","d3c80355.8ae3d","ea72b8e8.972a68","e6357dbf.39804","f542abf2.158ec8","11bcca06.846ec6","a5799483.699478"],"x":54,"y":39,"w":1952,"h":162},{"id":"98cedcb6.aef47","type":"group","z":"27651c9e.4ce444","name":"Testing","style":{"stroke":"#777777","fill":"#0069A2","label":true,"color":"#ffffff","fill-opacity":"0.75"},"nodes":["22abb009.4d3b5","29562042.7497e","3dc8ba6d.2c96e6","54778482.7db24c","48ae8842.da5638","29a2ea6b.ce2eb6","5e19cc7e.cd23e4","8334a5e9.9c3bb8","4ae5bd30.468e54","88d20682.7e2368","31cbffe8.c67ee"],"x":54,"y":699,"w":652,"h":322},{"id":"f883fc83.3c2ec","type":"group","z":"27651c9e.4ce444","name":"Data Processing","style":{"fill":"#003857","fill-opacity":"0.29","label":true,"label-position":"n","color":"#000000"},"nodes":["2f05dbcd.6c7284","6be33379.5f1cbc","17eb0f3b.577dc1"],"x":48,"y":233,"w":1954,"h":434},{"id":"6be33379.5f1cbc","type":"group","z":"27651c9e.4ce444","g":"f883fc83.3c2ec","name":"inputs","style":{"label":true,"fill":"#0069A2","fill-opacity":"0.75","color":"#ffffff"},"nodes":["42eb980c.d7ba08","c85059c2.e97be8","1022d336.228c4d","a2e7fa5.af04508","fdf145cf.fdd768","9f547ad1.772258","158884ef.458c7b"],"x":74,"y":259,"w":372,"h":382},{"id":"17eb0f3b.577dc1","type":"group","z":"27651c9e.4ce444","g":"f883fc83.3c2ec","name":"outputs","style":{"label":true,"fill":"#0069A2","fill-opacity":"0.75","color":"#ffffff"},"nodes":["f545edee.57882","941ad2ed.d467d","9176d1e0.c246","a5402340.b3059"],"x":1744,"y":259,"w":232,"h":382},{"id":"22abb009.4d3b5","type":"inject","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"activity = true","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":740,"wires":[["5e19cc7e.cd23e4"]]},{"id":"29562042.7497e","type":"inject","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"activity = false","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":780,"wires":[["5e19cc7e.cd23e4"]]},{"id":"3dc8ba6d.2c96e6","type":"inject","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"detectedAnomaly = Technical defect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":240,"y":860,"wires":[["8334a5e9.9c3bb8"]]},{"id":"54778482.7db24c","type":"inject","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"detectedAnomaly = Unknown planned idle time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":280,"y":820,"wires":[["8334a5e9.9c3bb8"]]},{"id":"48ae8842.da5638","type":"inject","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"detectedAnomaly = Customer_specific","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2.45","payloadType":"str","x":250,"y":900,"wires":[["8334a5e9.9c3bb8"]]},{"id":"29a2ea6b.ce2eb6","type":"inject","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"output = 4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":160,"y":940,"wires":[["4ae5bd30.468e54"]]},{"id":"5e19cc7e.cd23e4","type":"subflow:ea60d29d.289ea","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"","env":[],"x":610,"y":740,"wires":[]},{"id":"8334a5e9.9c3bb8","type":"subflow:367bcdc.effb932","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"","env":[],"x":590,"y":820,"wires":[]},{"id":"4ae5bd30.468e54","type":"subflow:a5e0fac6.ceb088","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"","env":[],"x":620,"y":900,"wires":[]},{"id":"88d20682.7e2368","type":"subflow:8618dc69.4769","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"","env":[],"x":590,"y":980,"wires":[]},{"id":"31cbffe8.c67ee","type":"inject","z":"27651c9e.4ce444","g":"98cedcb6.aef47","name":"inject current timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":980,"wires":[[]]},{"id":"2f05dbcd.6c7284","type":"subflow:f05814f0.ec8848","z":"27651c9e.4ce444","g":"f883fc83.3c2ec","name":"","env":[{"name":"mode","value":null,"type":"str"}],"x":1090,"y":440,"wires":[["9176d1e0.c246"]]},{"id":"42eb980c.d7ba08","type":"mqtt in","z":"27651c9e.4ce444","d":true,"g":"6be33379.5f1cbc","name":"","topic":"ia/raw/#","qos":"2","datatype":"auto","broker":"81d4dffc.ca86b","x":150,"y":300,"wires":[["2f05dbcd.6c7284"]]},{"id":"c85059c2.e97be8","type":"s7 in","z":"27651c9e.4ce444","d":true,"g":"6be33379.5f1cbc","endpoint":"","mode":"single","variable":"","diff":true,"name":"","x":150,"y":360,"wires":[[]]},{"id":"1022d336.228c4d","type":"http in","z":"27651c9e.4ce444","d":true,"g":"6be33379.5f1cbc","name":"","url":"","method":"get","upload":false,"swaggerDoc":"","x":150,"y":540,"wires":[[]]},{"id":"a2e7fa5.af04508","type":"OpcUa-Client","z":"27651c9e.4ce444","d":true,"g":"6be33379.5f1cbc","endpoint":"","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":340,"y":600,"wires":[[]]},{"id":"fdf145cf.fdd768","type":"inject","z":"27651c9e.4ce444","d":true,"g":"6be33379.5f1cbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["a2e7fa5.af04508"]]},{"id":"9f547ad1.772258","type":"tcp in","z":"27651c9e.4ce444","d":true,"g":"6be33379.5f1cbc","name":"","server":"server","host":"","port":"","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":150,"y":480,"wires":[[]]},{"id":"158884ef.458c7b","type":"modbus-read","z":"27651c9e.4ce444","d":true,"g":"6be33379.5f1cbc","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"","adr":"","quantity":"","rate":"","rateUnit":"","delayOnStart":false,"startDelayTime":"","server":"","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":190,"y":420,"wires":[[],[]]},{"id":"f545edee.57882","type":"subflow:ea60d29d.289ea","z":"27651c9e.4ce444","g":"17eb0f3b.577dc1","name":"","env":[],"x":1890,"y":300,"wires":[]},{"id":"941ad2ed.d467d","type":"subflow:367bcdc.effb932","z":"27651c9e.4ce444","g":"17eb0f3b.577dc1","name":"","env":[],"x":1860,"y":400,"wires":[]},{"id":"9176d1e0.c246","type":"subflow:a5e0fac6.ceb088","z":"27651c9e.4ce444","g":"17eb0f3b.577dc1","name":"","env":[],"x":1900,"y":500,"wires":[]},{"id":"a5402340.b3059","type":"subflow:8618dc69.4769","z":"27651c9e.4ce444","g":"17eb0f3b.577dc1","name":"","env":[],"x":1870,"y":600,"wires":[]},{"id":"1a57b14c.6dc0ef","type":"subflow:b2a67990.09f878","z":"27651c9e.4ce444","g":"57b7f4c7.aa80ac","name":"","env":[{"name":"customer_states","value":"","type":"str"}],"x":420,"y":160,"wires":[]},{"id":"4dfa3a02.681074","type":"config","z":"27651c9e.4ce444","g":"57b7f4c7.aa80ac","name":"Set customerID","properties":[{"p":"customerID","pt":"global","to":"DCCAachen","tot":"str"}],"active":true,"x":190,"y":80,"wires":[]},{"id":"d3c80355.8ae3d","type":"config","z":"27651c9e.4ce444","g":"57b7f4c7.aa80ac","name":"Set location","properties":[{"p":"location","pt":"global","to":"Aachen","tot":"str"}],"active":true,"x":400,"y":80,"wires":[]},{"id":"ea72b8e8.972a68","type":"config","z":"27651c9e.4ce444","g":"57b7f4c7.aa80ac","name":"Set AssetID","properties":[{"p":"AssetID","pt":"global","to":"AssemblyCell","tot":"str"}],"active":true,"x":620,"y":80,"wires":[]},{"id":"e6357dbf.39804","type":"subflow:714b2549.1d021c","z":"27651c9e.4ce444","g":"57b7f4c7.aa80ac","name":"","env":[],"x":600,"y":160,"wires":[]},{"id":"f542abf2.158ec8","type":"subflow:d13f4073.6bd45","z":"27651c9e.4ce444","g":"57b7f4c7.aa80ac","name":"","env":[],"x":1890,"y":100,"wires":[]},{"id":"11bcca06.846ec6","type":"subflow:592b9c06.2959d4","z":"27651c9e.4ce444","g":"57b7f4c7.aa80ac","name":"","env":[{"name":"Mode","value":"0","type":"str"},{"name":"topic","value":"ia/raw/2020-0138/000184310069/X08/42-278531","type":"str"},{"name":"detAno1","value":"Break","type":"str"},{"name":"detAno2","value":"Maintenance","type":"str"},{"name":"detAno3","value":"No raw material","type":"str"},{"name":"detAno4","value":"Unknown planned idle time","type":"str"}],"x":190,"y":160,"wires":[]},{"id":"a5799483.699478","type":"cronplus","z":"27651c9e.4ce444","g":"57b7f4c7.aa80ac","name":"Shifts template","outputField":"duration_in_minutes","timeZone":"Europe/Berlin","persistDynamic":false,"commandResponseMsgOutput":"output2","outputs":2,"options":[{"name":"shift_1","topic":"shift_1","payloadType":"num","payload":"1234","expressionType":"cron","expression":"0 * * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":1340,"y":100,"wires":[["f542abf2.158ec8"],[]]}]
